@font-face {
  font-family: "Inter";
  src: url("../webfonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
  font-display: swap;
}

:root {
  --rounded-12: 0.75rem;
  --gradient-position-br: to bottom right in oklab;
  --violet-600: #7f22fe;
  --indigo-600: #4f39f6;
  --main-box-shadow: 0 10px 15px -3px #8e51ff40, 0 4px 6px -4px #8e51ff40;
  --gray-500: #6a7282;
  --gray-700: #364153;
  --gray-100: #f6f3f4;
  --gray-400: #99a1af;
  --gray-600: #4a5565;
  --gray-900: #101828;
  --spacing: 0.25rem;
  --rose-500: #ff2056;
}

a {
  text-decoration: none;
}

.text-rose-500 {
  color: var(--rose-500);
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f8fafc;
}

.mt-6 {
  margin-top: 0.375rem;
}

.gap-12 {
  gap: 0.75rem;
}

.rounded-12 {
  border-radius: var(--rounded-12);
}

.text-gray-900 {
  color: var(--gray-900);
}

.text-violet-600 {
  color: var(--violet-600);
}

.text-gray-700 {
  color: var(--gray-700);
}

.text-gray-500 {
  color: var(--gray-500);
}

.bg-nav {
  background-color: #ffffffb3;
}

.px-20 {
  padding-inline: 1.25rem;
}

.py-10 {
  padding-block: 0.625rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 0.375rem;
}

.mt-79 {
  margin-top: 79.2px;
}

.mb-32 {
  margin-bottom: 2rem;
}

.gap-14 {
  gap: 0.875rem;
}

.top--2 {
  top: -2px;
}

.bottom--2 {
  bottom: -2px;
}

.end--2 {
  right: -2px;
}

.gap-10 {
  gap: 0.625rem;
}

.gap-6 {
  gap: 0.375rem;
}

.mt-12 {
  margin-top: 0.75rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.pb-12 {
  padding-bottom: 0.75rem;
}

.p-12 {
  padding: 0.75rem;
}

.text-gray-600 {
  color: var(--gray-600);
}

.p-10 {
  padding: 0.625rem;
}

.icon-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-red-50 {
  border-color: #fb2c36 !important;
}

div:where(.swal2-container) {
  z-index: 100000 !important;
}
